<h1 align="center"><u>Pandas Assignment 4 </u></h1>

<h2 align="center">
  <a href="https://github.com/rahul96rajan/cdacAssignments/tree/master/Pandas_Assignment/Assignment_4.ipynb">GitHub URL</a>
</h2>

#### Q1: Write a Pandas program to get the columns of the DataFrame  using iris.csv file.

In [1]:
import pandas as pd
df = pd.read_csv("https://gist.githubusercontent.com/rahul96rajan/562ac41a690119967be1396c6eadc20e/raw/14e251eee0ab4d2aba1ee24d42d994ba00d770af/iris.csv")
display(df.head(10))

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

#### Q2: Write a Pandas program to get the information of the DataFrame (iris.csv file) including data types and memory usage.

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

#### Q3: Write a Pandas program to get the details of the third iris flower of the DataFrame (iris.csv file).

In [3]:
display(df.iloc[2])

sepal_length       4.7
sepal_width        3.2
petal_length       1.3
petal_width        0.2
species         setosa
Name: 2, dtype: object

#### Q4: Write a Pandas program to count the number of rows and columns of the DataFrame (iris.csv file).

In [4]:
print("#Rows: {0}\n#Columns: {1}".format(*df.shape))

#Rows: 150
#Columns: 5

#### Q5: Write a Pandas program to get the details of the columns sepal length and sepal width of the DataFrame.

In [5]:
display(df[["sepal_width", "sepal_length"]])

     sepal_width  sepal_length
0            3.5           5.1
1            3.0           4.9
2            3.2           4.7
3            3.1           4.6
4            3.6           5.0
..           ...           ...
145          3.0           6.7
146          2.5           6.3
147          3.0           6.5
148          3.4           6.2
149          3.0           5.9

[150 rows x 2 columns]