#### Use iris dataset and create a classification model using Gaussian naïve bayes classifier. Compare the result of Naïve bayes Classifier with the Decision tree classifier and Logistic Regessor.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/rahul96rajan/sample_datasets/master/iris.csv')
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [4]:
X = data.drop('species', axis=1).copy()
y = data['species'].copy()

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33,
                                                    random_state=42, stratify=y)

In [6]:
X_train.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    100.000000   100.000000    100.000000   100.000000
mean       5.883000     3.069000      3.765000     1.198000
std        0.856827     0.455204      1.782823     0.777588
min        4.300000     2.000000      1.100000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.300000     1.300000
75%        6.425000     3.325000      5.100000     1.825000
max        7.900000     4.400000      6.900000     2.500000

In [7]:
from sklearn.model_selection import GridSearchCV
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import KFold

kf = KFold(n_splits=5, shuffle=True, random_state=42)
params = {'var_smoothing':[1e-13, 1e-11, 1e-9, 1e-7, 1e-5]}
grid_search = GridSearchCV(GaussianNB(), params, cv=kf)
grid_search.fit(X_train, y_train)

grid_search.best_estimator_

GaussianNB(var_smoothing=1e-13)

In [8]:
clf = GaussianNB(var_smoothing=1e-13)
clf.fit(X_train, y_train)
y_train_pred = clf.predict(X_train)

In [9]:
y_test_pred = clf.predict(X_test)

In [10]:
from sklearn.metrics import accuracy_score

print('Accuracy (train): ', accuracy_score(y_train, y_train_pred))
print('Accuracy (test): ', accuracy_score(y_test, y_test_pred))

Accuracy (train):  0.98
Accuracy (test):  0.92